label for="short_url" Короткий адрес:
input type='text' name='short_url' readonly="true" value="#{@item.pretty_short_url}"
label for="short_url" Длинный адрес:
input type='text' name='long_url' readonly="true" value="#{@item.long_url}"
a href='/' На главную
